@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1661420774426') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenben:before {
  content: "\e649";
}

.icon-anniu:before {
  content: "\e665";
}

.icon-danhangshuru:before {
  content: "\e668";
}

.icon-shipin:before {
  content: "\e67a";
}

.icon-tupian:before {
  content: "\e67c";
}

.icon-xialakuang:before {
  content: "\e67e";
}

